body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h2{
    font-size: 2rem;
}

* {
    box-sizing: border-box;
  }

header{
    background-color: #000;
    color: #fff;
    
}

.wrapper
{
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper
{
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.name
{
    display: flex;
    justify-content: left;
    
}

nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    
}

nav ul li a:link {
    display:flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    
}

#hero {
    height: 600px;
    
    background-color: #771598;
    background-image: url(../images/hands-typing.jpg);
    background-size: cover;
    filter: grayscale(70%);
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

h1{
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px 6px #000;
    max-width: 60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.496);
    padding: 20px;

}

img{
    width: 100%;
}

/* section 1 */
.woman{
    display: flex;
    align-items: center; 
}

.woman div {
    width: 65%;
}

.woman img{
    width: 35%;
    
}

/* section 2 */

#services{
    background-color: #fafafa;
    padding: 2em 0;
}

.grid{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 40px; 
}

#services h2{
    text-align: center;
}    

.grid article{
    background-color: #fff;
    padding: 1em;
}

#services a:link,
#services a:visited {
  display: inline-block;
  padding: .8em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: auto;
}

/* not working */
.wrapper .btn{
    display: flex;
    align-items: baseline;
    justify-content: left;
}

#services a:hover,
#services a:focus{
    background-color: #fff;
    color: black;
}

/* section 3 */
#work h2,
#work p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center; 
    padding-bottom: 20px;
}

#work h2{
    padding-top: 40px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas: 
    "img1 img1 img1 img2 img2 img2 "
    "img3 img3 img4 img4 img5 img5"
    ;

    padding-bottom: 40px;
}

.gallery img:nth-child(1){
    grid-area: img1;    
}

.gallery img:nth-child(2){
    grid-area: img2; 

}

.gallery img:nth-child(3){
    grid-area: img3;
    
}

.gallery img:nth-child(4){
    grid-area: img4;
    
}

.gallery img:nth-child(5){
    grid-area: img5;
    
}


footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
